body{
    background-color: rgb(56, 56, 56);
    font-family: "Inter";
}

img{
    width: 100%;
}

.home{
    background-image: url("img/homeBG.png");
    background-size: cover;
    background-repeat: no-repeat;

    p{
        font-size: 1vw;
    }
}

h1{
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
}

h5{
    font-weight: bold;
    font-size: 2vw;
}

p,span{
    font-size: 1vw;
}

p,h2.h3,h4,h5,h6,span{
    color: #fff;
}

.red{
    color: #a0003091;

}

.second{
    background-image: url("img/bg-second.png");
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
    top: -5vw;
    padding-top: 7vw;
}

.card{
    background-color:#31000F;
    color: #fff;
}

footer{

    div{
        img{
            width: 4vw;
        }
    }

}

.partner{
    width: 10vw;
    cursor: pointer;
}


.p1{
    position: relative;
    top: -22vw;
    left: 4vw;
}

.p2{
    position: relative;
    top: -26vw;
    left: 27vw;
}

.p3{
    position: relative;
    top: -24vw;
    right: -58vw;
}

.p4{
    position: relative;
    top: -2vw;
    right: -51vw;
}

.p5{
    position: relative;
    top: -11vw;
    left: -40vw;
}

.p6{
    position: relative;
    top: -14vw;
    left: -10vw;
}

.p7{
    position: relative;
    top: -3.5vw;
    left: -34vw;
}

.p8{
    position: relative;
    top: -7.5vw;
    left: -10vw;
}


.about{
    background-image: url("img/aboutBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.clear{
    background-color: #31000f00;
    border: 1px solid #3D0011;
    border-radius: 0px;
    padding: 3vw;
    align-items: center;

    p{
        font-size: 10px;
    }

    h5{
        font-size: 1.25vw;
        font-weight: bold;
    }

    .card-img-top{
        width: 35%;
        margin-bottom: 3vw;
    }
}

.faq{
    background-image: url("img/faqBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.news{
    background-image: url("img/newsBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.article{
    background-image: url("img/articleBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logIn{
    background-image: url("img/signBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.signUp{
    background-image: url("img/signBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link{
    color: #fff;

    &:hover{
        color: #DC052D;
    }
}

.navbar-brand{
    img{
        width: 40%;
    }
}

.navbar-collapse{
    text-align: right;
    position: relative;
    top: 0;
    right: 0vw;
}

.media{
    width: 3.5vw;
    cursor: pointer;
}

.btn{
    border-radius: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1vw;
}

.two{
    margin-top: 25vw;
}

.aboutUs{
    margin-bottom: 10vw;
}

.abouT{
    position: relative;
    z-index: 2;

}

.about1{
    position: absolute;
    top: -10vw;
    z-index: 1;
    margin-bottom: 100vw;
}

.about2{
    position: absolute;
    top: -15vw;
    right: 0vw;
    width: 80%;
    margin-bottom: 100vw;
}


.blur{
    background-color: #34000f00;
    position: absolute;
    height: 100%;

    a{
        background-color: #31000f00;
        border: #31000f00;
        color: #31000f00;
    }
}

.blur:hover{
    background-color: #34000f81;

    a{
        background-color: #DC052D;
        border: #DC052D;
        color: #fff;
    }
}

.more{
    position: absolute;
    top: 20%;
    left: 10vw;
}

.register{
    position: absolute;
    left: 42vw;
    top:3vw;
}

.smal{
    text-align: center;
    width: 40%;
}

.accordion-button{
    border: 1px solid #fff;
}

.logIn, .signUp{
    color: #fff;
}


.bg{
    width:50vw;
    height: 50vw;
    z-index: -1;
    position: absolute;
    top: 8%;
}


@media (min-width:1025px){
    .puk{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.fut{
    font-size: 2.1vw;
}


